# Data Preprocessing

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns


df_data = pd.read_csv("data/Speed Dating Data.csv")
df_data.shape

(8378, 195)

In [5]:
cols = ['iid', 'pid', 'match','gender',
        'attr3_1', 'sinc3_1', 'fun3_1', 'intel3_1', 'amb3_1']


df_selected = df_data.loc[:, cols]

# Separate dataframe into male and female.
df_male = df_selected.loc[ df_selected['gender'] == 0 ]
df_female = df_selected.loc[ df_selected['gender'] == 1 ]

# Select columns we want from female's dataframe.
attr3 = ['iid', 'attr3_1', 'sinc3_1', 'fun3_1', 'intel3_1',  'amb3_1']
df_female = df_female.loc[:, attr3]

# Drop duplicated Index from female's dataframe.
df_female.drop_duplicates('iid', inplace=True)

# Let's make dataframe for matching. (empty yet)
df_match = pd.DataFrame( data = None, columns = cols + ['attr3_1_o', 'sinc3_1_o', 'fun3_1_o', 'intel3_1_o',  'amb3_1_o'] )
index = 0

# Let's fill each rows of dataframe for matching.
for m_index, m_row in df_male.iterrows() :
    pid = m_row['pid']
    
#     Find partner id in female group corresponding to each row.
    for f_index, f_row in df_female.iterrows() :
        if pid == f_row['iid'] :
            
#           Extract values from each row of dataframes.
            values = list(m_row.values) + list(f_row.values[1:])
    
#           Fill a row of match dataframe
            df_match.loc[index] = values
            index += 1
#             print(index)
            
            break
#     if index ==  :
#         break
    
df_match.head()

,iid,pid,match,gender,attr3_1,sinc3_1,fun3_1,intel3_1,amb3_1,attr3_1_o,sinc3_1_o,fun3_1_o,intel3_1_o,amb3_1_o
0,1.0,11.0,0.0,0.0,6.0,8.0,8.0,8.0,7.0,8.0,9.0,7.0,8.0,5.0
1,1.0,12.0,0.0,0.0,6.0,8.0,8.0,8.0,7.0,9.0,9.0,9.0,10.0,9.0
2,1.0,13.0,1.0,0.0,6.0,8.0,8.0,8.0,7.0,4.0,7.0,8.0,8.0,3.0
3,1.0,14.0,1.0,0.0,6.0,8.0,8.0,8.0,7.0,9.0,9.0,9.0,9.0,9.0
4,1.0,15.0,1.0,0.0,6.0,8.0,8.0,8.0,7.0,7.0,7.0,7.0,9.0,9.0

In [12]:
new_data=df_match.dropna(subset=['attr3_1', 'sinc3_1', 'intel3_1', 'fun3_1', 'amb3_1', 'attr3_1_o', 'sinc3_1_o', 'fun3_1_o', 'intel3_1_o',  'amb3_1_o'
                                ,'iid','pid','match','gender'])

# Learning with basic separation

In [13]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics

train, test = train_test_split(new_data, test_size=0.25,random_state=0)
X=['attr3_1', 'sinc3_1', 'intel3_1', 'fun3_1', 'amb3_1', 'attr3_1_o', 'sinc3_1_o', 'fun3_1_o', 'intel3_1_o',  'amb3_1_o']
Y=['match']


#print(train)
#print(test)

train_X=train[X]
train_Y=train['match']

test_X=test[X]
test_Y=test['match']

features_one = train_X.values
target = train_Y.values

## Decision Tree

In [16]:
tree_model = DecisionTreeClassifier()
clf = tree_model.fit(features_one, target)
dt_prediction = tree_model.predict(test_X)

accuracy = metrics.accuracy_score(dt_prediction, test_Y)
print('The accuracy of the Decision Tree is',accuracy)

The accuracy of the Decision Tree is 0.7352941176470589

## SVM - linear

In [26]:
from sklearn import svm
svc = svm.SVC(kernel='linear')
svc.fit(features_one, target)

accuracy = svc.score(test_X, test_Y)

print('The accuracy of the SVM_linear is',accuracy)

The accuracy of the SVM_linear is 0.8323529411764706

## SVM - rbf

In [27]:
from sklearn import svm
svc_r = svm.SVC(kernel='rbf')
svc_r.fit(features_one, target)

accuracy = svc_r.score(test_X, test_Y)

print('The accuracy of the SVM_rbf is',accuracy)

The accuracy of the SVM_rbf is 0.8343137254901961

## KNN

In [30]:
from sklearn import neighbors

knn = neighbors.KNeighborsClassifier()
knn.fit(features_one, target)

accuracy = knn.score(test_X, test_Y)

print('The accuracy of the KNN is',accuracy)

The accuracy of the KNN is 0.8196078431372549

## Grid Search

In [32]:
from sklearn import svm, grid_search
gammas = np.logspace(-6,-1,10)
svc_g = svm.SVC()
clf = grid_search.GridSearchCV(estimator=svc_g, param_grid=dict(gamma = gammas), n_jobs=-1)
clf.fit(features_one, target)

accuracy = clf.score(test_X, test_Y)

print('The accuracy of the Grid-search is',accuracy)

The accuracy of the Grid-search is 0.8323529411764706

# Learning with KFold

In [46]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.utils import shuffle

kf = KFold(n_splits=4, random_state=1)

model=DecisionTreeClassifier()

new_data = shuffle(new_data)
# new_data.head()

,iid,pid,match,gender,attr3_1,sinc3_1,fun3_1,intel3_1,amb3_1,attr3_1_o,sinc3_1_o,fun3_1_o,intel3_1_o,amb3_1_o
2440,324.0,337.0,0.0,0.0,9.0,9.0,9.0,9.0,8.0,6.0,6.0,6.0,6.0,6.0
1944,259.0,290.0,0.0,0.0,7.0,9.0,8.0,8.0,9.0,5.0,4.0,5.0,10.0,9.0
1476,202.0,231.0,0.0,0.0,7.0,10.0,9.0,10.0,8.0,8.0,8.0,8.0,9.0,3.0
3911,518.0,544.0,0.0,0.0,6.0,9.0,8.0,8.0,7.0,7.0,10.0,10.0,9.0,8.0
325,35.0,41.0,0.0,0.0,8.0,9.0,9.0,9.0,7.0,5.0,7.0,5.0,8.0,5.0

## Decision Tree

In [47]:
train_1, test_1 = train_test_split(new_data, test_size=0.2,random_state=0)

data_X=train_1[X]
data_Y=train_1[Y]
    
test_X=test_1[X]
test_Y=test_1[Y]

for i, (train, test) in enumerate(kf.split(train_1)):
    #print(test)
    train_data_X = np.array(data_X)[train]
    #print(train_data_X)
    train_data_Y = np.array(data_Y)[train]
    test_data_X = np.array(data_X)[test]
    test_data_Y = np.array(data_Y)[test]
    model.fit(train_data_X, train_data_Y)
    
prediction = model.predict(test_X)
print(metrics.accuracy_score(prediction, test_Y))

0.7475490196078431

## SVM - linear

In [48]:
from sklearn import svm
svc_r = svm.SVC(kernel='linear')

for i, (train, test) in enumerate(kf.split(train_1)):
    #print(test)
    train_data_X = np.array(data_X)[train]
    #print(train_data_X)
    train_data_Y = np.array(data_Y)[train].ravel()
    test_data_X = np.array(data_X)[test]
    test_data_Y = np.array(data_Y)[test].ravel()
    svc_r.fit(train_data_X, train_data_Y)

accuracy = svc_r.score(test_X, test_Y)
print(accuracy)

0.8345588235294118

## SVM - rbf

In [49]:
from sklearn import svm
svc_r = svm.SVC(kernel='rbf')

for i, (train, test) in enumerate(kf.split(train_1)):
    #print(test)
    train_data_X = np.array(data_X)[train]
    #print(train_data_X)
    train_data_Y = np.array(data_Y)[train].ravel()
    test_data_X = np.array(data_X)[test]
    test_data_Y = np.array(data_Y)[test].ravel()
    svc_r.fit(train_data_X, train_data_Y)

accuracy = svc_r.score(test_X, test_Y)
print(accuracy)

0.8357843137254902